.add-form{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.af-bar{
    position: relative;
    height: 12%;
    width: 100%;
}


.af-body{
    position: relative;
    height: 100%;
    width: 100%;
}

input{
    width: 100%;
}
