.photo-form{
    height: 100%;
    width: 100%;
    position: relative;
    padding: 3% 5% 0; 
}

.photo-form-btns{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    bottom: 7%;
    right: 3%;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}

.photo > div{
    height: 150px;
    width: 150px;
    margin: 20px auto;
    background-size: cover;
    background-repeat: no-repeat;
}