.photo-form{
    height: 100%;
    width: 100%;
    position: relative;
    padding: 3% 5% 0; 
    overflow: hidden;
    overflow-y: scroll;
}

.photo-form-btns{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    top: 100%;
    right: 3%;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}
.photo-form-btns> div{
    margin:16px 12px;
}
.photo > div{
    height: 150px;
    width: 150px;
    margin: 20px auto;
    background-size: cover;
    background-repeat: no-repeat;
}