.page-view{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.page{
    position: absolute;
    height: 100%;
    width: 100%;
    transition: ease-in all .3s;
    -webkit-transition: ease-in all .3s;
    -moz-transition: ease-in all .3s;
    -ms-transition: ease-in all .3s;
    -o-transition: ease-in all .3s;
}