@import '../../Base.css';

.bar{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.progress-bar{
    position: absolute;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 0 5% 5% 0 /50%;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-border-radius: 0 5% 5% 0 /50%;
    -moz-border-radius: 0 5% 5% 0 /50%;
    -ms-border-radius: 0 5% 5% 0 /50%;
    -o-border-radius: 0 5% 5% 0 /50%;
}

.step{
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in;
    font-size: 1.2rem;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
}

.selected{
    color: white;
}