.input100 {
    font-family: Calibri;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
  
    outline: transparent;
    display: block;
    width: 200;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
    position: relative;
    margin: 20px;
  }

.wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}

.validate-input {
    position: relative;
}

.Item {
    margin : 20px;
    padding: 0;
    width: 350px;
    height: 90px;
}

.name {
    font-weight: 600;
    font-family: Calibri;
    font-size: medium;
}

.soustitre {
    font-weight: 200;
    color: #666666;
    font-family: Calibri;
    font-size: small;
}

.avatar {
  width: 70px;
  height: 60px;
  margin-right: 10px;
  align-self: flex-start;
  margin-bottom: 15px;
  padding: 3px, 8px;
  cursor: pointer;
  border-radius: 50%;
  border :none;
  text-align: left;
}



.dialogStyles {
  width: 500px;
  max-width: 100%;
  max-height: 800px;
  margin: 20 auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 999;
  background-color: #eee;
  padding: 10px,20px,40px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  white-space: nowrap;
}
div.dialogStyles a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
.dialogCloseButton{
  margin-bottom: 15px;
  padding: 3px, 8px;
  cursor: pointer;
  border-radius: 50%;
  border :none;
  width: 30px;
  height: 30px;
  font-weight: bold;
  align-self: flex-end;
}