.input100 {
    font-family: poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
  
    outline: transparent;
    display: block;
    width: 200;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
    position: relative;
    margin: 20px;
  }

  .wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
  }

  .validate-input {
    position: relative;
  }

  .Item {
    margin : 20px;
    padding: 20
  }

  .name {
    font-weight: 600;
    font-family: Calibri;
    font-size: medium;
  }

  .soustitre {
    font-weight: 200;
    color: #666666;
    font-family: Calibri;
    font-size: small;
  }

.avatar {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}