.Avatar {
    width: 120px;
    height: 120px;
    margin-right: 10px;margin-bottom: 15px;
    padding: 3px, 8px;
    cursor: pointer;
    border-radius: 50%;
    border :none;
    font-weight: bold;
    align-self: flex-end;
}


.Name {
    font-family: Calibri;
    font-size: medium;
    font-weight: 600;
    width: 120px;
    height: 120px;
}