@import '../../../Base.css';
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
.text-field{
    width: 100%;
    padding: 15px 0;
}

.text-field-title{
    font-size: 1.2rem;
}

.text-field-input{
    font-size: 1.1rem;
    height: 100%;
    border: 1px grey solid;
    transition: ease-in-out .5s all;
    -webkit-transition: ease-in-out .5s all;
    -moz-transition: ease-in-out .5s all;
    -ms-transition: ease-in-out .5s all;
    -o-transition: ease-in-out .5s all;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding:7px 15px;
}

.text-field-input:hover, .text-field-input:focus{
    border: var(--primary-color) solid 2px;
}