@import '../../../Base.css';
.dialog-bg{
    position: absolute;
    z-index: 1000;
    height: 100vh;
    backdrop-filter: blur(2px);
    overflow: hidden;
}

.dialog-container{
    position: relative;
    height: 100%;
    padding: 50px 20px;
}

.dialog-popup{
    max-height: 800px;
    background-color: var(--bg-color);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 1px 1px 10px 3px #3131313a ;
    border-radius: 15px;
    overflow: hidden;
}
.dialog-popup-lg{
    height: 100%;
    width: 90%;
}
.dialog-popup-sm{
    height: 100%;
    width: 60%;
}
.dialog-popup-xs{
    height: 400px;
    width: 400px;
}

.dialog-content{
    position: relative;
    height: 100%;
    width: 100%;
}
.dialog-close{
    position: absolute;
    top: -10px;
    right: 10px;
    padding: 0;
    transform: rotate(45deg);   
    font-size: 3rem;
    cursor: pointer;
}
.dialog-close>p{
    padding: 0;
}

.dialog-close:hover{
    color: #4b4747ad;
}

.bar-step{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}