@import '../../../Base.css';

.rdv-list{
    padding: 30px 20px;
    max-height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}


.rdv-list > span{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rdv-list > span > *{
    font-size: 1.2rem;
}

.loading{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-top: 1px var(--primary-color) solid;
    border-left: 1px var(--primary-color) solid;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation-name: rotating;
    animation-duration: .5s;
    animation-iteration-count: infinite;
}

@keyframes rotating{
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}