@import '../Base.css';

.stats-page{
    padding:  5vh 20px;
}
.chart-card{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.chart-card>p:nth-child(1){
    color: var(--blue);
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.chart-card-prestation{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chart-card-prestation>h1{
    color: var(--blue);
    font-size: 1.7rem;
}
.chart-card-prestation>p{
    color: grey;
    font-size: 2rem;
    font-weight: 600;
}
.chart-card-prestation>p::after{
    color: "#779da1";
    content: ' Dzd';
    font-size: 1rem;
}
.n-malade-container{
    display: flex;
    flex-direction: column;
}
.n-malade{
    display: flex;
    padding: 30px;
}

.n-malade > p:nth-child(1){
    position: relative;
    left: 10%;
    color: var(--blue);
    font-size: 1.1rem;
}
.n-malade > p:nth-child(2){
    position: absolute;
    left: 60%;
    color: grey;
    font-size: 2rem;
    font-weight: 600;
}
.n-malade > p:nth-child(2)::after{
    font-size: 1rem;
    color: var(--blue);
    margin-left: 2px;
}

.malades::after{
    content: 'malades';
}
.morts::after{
    content: 'morts';
}
.gueris::after{
    content: 'guérisons';
}

.prestation-chart-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.prestation-chart-container>*:nth-child(1){
    color: var(--blue);
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.prestation-chart-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prestation-radio-btns{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
}
.prestation-radio-btns>div{
    display: flex;
    align-items: center;
}
.select-years{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100px;   
    padding: 8px; 
    border: none;
    border-bottom: 1px var(--secondary-color) solid;
    border-left: 1px var(--secondary-color) solid;
    outline: none;
}